<form method="post" id="login-form">
    {% csrf_token %}
    <div class="mb-3 form-header">
        <h3>Đăng nhập</h3>
        <span class="close-button">
            <i class="fa-solid fa-x"></i>
        </span>
    </div>
    <div class="form-body">
        <div class="mb-3">
            <label for="input-email" class="form-label">Email address</label>
            <input type="email" class="form-control p-2" id="input-email" name="email">
            <span class="form-error text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="input-password" class="form-label">Password</label>
            <input type="password" class="form-control p-2" id="input-password" name="password">
            <span class="form-error text-danger"></span>
        </div>
    </div>
    <div class="form-footer mb-3">
        <button type="submit">Đăng nhập</button>
    </div>
    <div>
        <span>Bạn chưa có tài khoản? <a href="/register-form/" class="text-primary fw-bold">Đăng ký ngay</a></span>
    </div>
</form>