{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Home{% endblock %}
{% block head %}
<!--swiper-slider-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock %}
{% block content %}

<div class="wrapper">

    <div class="container samsung-product mt-4">
        <h3 class="section-title fw-bold">{{ brand.name }}</h3>
        <div class="card shadow">
            <div class="row p-3">
                {% for ss_product in ss_products %}
                <div class="col">
                    <div class="box box--ss h-100 d-flex flex-column shadow">
                        <div class="box-image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/307174/samsung-galaxy-s24-ultra-grey-thumbnew-600x600.jpg">
                        </div>
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="box-content">
                                <h4 class="box-name">{{ss_product.name}}</h4>
                            </div>
                            <div class="box-button m-0">
                                <h5 class="box-price">{{ss_product.price|floatformat:0|intcomma}} VNĐ</h5>
                                <button class="add-to-cart-btn" data-id="{{ ss_product.id }}">Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{%static 'js/home.js' %}" defer></script>
<script src="{%static 'js/cart.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
{% endblock %}