<div>
    <table class="table table-dark">
        <thead>
        <tr>
            {% for col in columns %}
            <th>{{ col }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if page == "users" %}
        {% for user in data %}
        <tr data-row="{{user.id}}">
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>
                {% if not user.is_staff %}
                user
                {% endif %}
            </td>
            <td>
                {% if user.is_active %}
                Hoạt động
                {% else %}
                Không hoạt động
                {% endif %}
            </td>
            <td>{{user.date_joined}}</td>
            <td>
                <button type="button" data-edit="{{user.id}}" class="btn btn-primary edit-button">Sửa</button>
                <button type="button" data-delete="{{user.id}}" class="btn btn-danger delete-button" id="delete">
                    Xóa
                </button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if page == "products" %}
        {% for product in data %}
        <tr>
            <td class="align-middle">{{product.id}}</td>
            <td class="align-middle">{{product.name}}</td>
            <td class="align-middle">{{product.price}}</td>
            <td class="align-middle">{{product.brand}}</td>
            <td class="align-middle">{{product.category}}</td>
            <td>
                <img class="product-img" src="{{ product.image }}" alt="{{ product.name }}">
            </td>
            <td class="align-middle">{{product.created_at}}</td>
            <td class="align-middle">
                <button type="button" data-edit="{{user.id}}" class="btn btn-primary edit-button">Sửa</button>
                <button type="button" data-delete="{{user.id}}" class="btn btn-danger delete-button" id="delete">
                    Xóa
                </button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>